#header {
    position: relative;
}

.vertical-center {
	margin: 0 auto;
	position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.container-header h1 {
	font-size: 4rem;
    color: #FFFFFF;
}
.container-header h2 {
	 font-size: 3rem;
     color: #FFFFFF;
     margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
	.container-header h1 {
        font-size: 3rem;
    }

    .container-header h2 {
        font-size: 2rem;
    }

}